NEXT_PUBLIC_SITE_URL=https://algoaura.vercel.app
SUPABASE_DB_URL=postgresql://postgres.abcqrfhkgqsmqeitphvw:Ri&h@b260@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
SMTP_EMAIL=rishabkhanna26@gmail.com
SMTP_PASSWORD=yzsv wuup zyus xykk
